@charset "UTF-8";

#main {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 110px 90px 90px 90px 90px 90px;
    line-height: 50px;


}

.styleBts {
    font-size: 40px;
    background-color: rgb(37, 35, 35);
    font-family: 'Bungee Spice', cursive;
    font-family: 'Indie Flower', cursive;

}

.styleBts2 {
    font-size: 40px;
    background-color: rgb(46, 46, 46);
    font-family: 'Bungee Spice', cursive;
    font-family: 'Indie Flower', cursive;

}
.styleBts3 {
    font-size: 70px;
    background-color: rgb(46, 46, 46);
    font-family: 'Bungee Spice', cursive;
    font-family: 'Indie Flower', cursive;

}

#Bts_Resultado {
    grid-column: 1/5;
    background-color: rgb(180, 157, 157);
    color: rgb(0, 0, 0);
    border: 4px rgb(255, 255, 255) solid;
    border-radius: 50px 50px 0px 0px;
    font-size: 65px;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Indie Flower', cursive;

}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    align-items: center;
    

}

#Bts_Igual {
    grid-row: 4 / 7;
    grid-column: 4;
    border-radius: 0px 0px 50px 0px;
    font-size: 90px;
    background-color: rgb(43, 43, 43);
    font-family: 'Bungee Spice', cursive;
    font-family: 'Indie Flower', cursive;
}

#Borda_redonda2 {
    border-radius: 0px 0px 0px 50px;
    grid-column: 1;
    grid-row: 6;
}

button {
    transition: 0.5s;
    border: 2px solid rgb(255, 255, 255) ;
}

button:hover,
#Bts_Igual:hover {
    background-color: rgb(184, 174, 174);
    color: rgb(0, 0, 0);

}

.cor_Nova {
    background-color: rgb(70, 70, 70);
}
.Btn-Posicao{
    grid-row: 3;
    grid-column: 4;
}.n2{
    grid-row: 3;
    grid-column: 1;
}
.n1{
    grid-row: 3;
    grid-column: 3;
}
.style{
    font-size: 40px;
    background-color: rgb(66, 62, 62);
    font-family: 'Bungee Spice', cursive;
    font-family: 'Indie Flower', cursive;
}